.uploadBox{
    width: 300px;
    height: 300px;
    box-shadow: 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton{
    padding: 50px;
}

.photo{

    max-height: 290px;
    max-width: 300px;
    margin-bottom: -8px;
}

.uploadButton{
    margin-top: 30px;
    padding: 3px;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 250px;
    background-color: #7DAD93;
    color: white;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}


.waitingBtn{
    margin-top: 30px;
    padding: 3px;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 250px;
    background-color: #cccccc;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.center{
    display: flex;
    justify-content: center;
}

.inputFile{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label:hover{
    cursor: pointer;
}
