*{
  outline: none;
  border: none;
  font-family: 'Nunito', sans-serif;
}

body {
  padding-top: 20%;
  outline: none;
  border: none;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
